@{
    ViewBag.Title = "DeleteMake";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>DeleteMake</h2>

<h3>Are you sure you want to delete Make #@ViewBag.MakeID?</h3>
<form method="post" action='@string.Concat(Url.Action("DeleteMake", "Admin"), "?makeId=", ViewBag.MakeID)'>
    <div class="form-actions">
        <a class="btn" href="@Url.Action("Makes", "Admin")">Back To List</a>
        <input class="btn btn-danger" type="submit" value="Delete">
    </div>
</form>