@{
    ViewBag.Title = "Delete Validation Book";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Delete ValidationBook</h2>

<h3>Are you sure you want to delete ValidationBook ?</h3>
<form method="post" action='@string.Concat(Url.Action("DeleteValidationBook", "Admin"), "?Lotid=" + ViewBag.Book.LotID)'> 
    <div class="form-actions">
        <a class="btn" href="@string.Concat(Url.Action("ValidationBooks", "Admin"), "/", ViewBag.Book.LotID)">Back To List</a>
        <input class="btn btn-danger" type="submit" value="Delete">
    </div>
</form>
@*"/"+ ViewBag.Book.BookID +*@