
<div class="row">
    <div class="span12">
        <table id="MontlyStallTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Stall Location</th>
                    <th>Stall Type</th>
                    <th>Number of Stalls</th>
                    <th>Booked Stalls</th>
                    <th>Montly Rate($)</th>
                    <th>Over Sell($)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody> 
            </tbody>
        </table>
    </div>
</div>
