@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Reset Password</h2>

<form method="post" action='@string.Concat(Url.Action("ResetPassword", "Admin"), "?userId=", ViewBag.User.UserProfileID)'>
    <div class="form-actions">
        <a class="btn" href="@Url.Action("Users", "Admin")">Back To List</a>
        <input class="btn btn-danger" type="submit" value="Reset">
    </div>
</form>