    <!-- begin footer -->
    <div id="footer">
        <ul>
            <li><a href="help.html">Help</a></li>
            <li><a class="contact_us" href="#">Contact Us</a></li>
            <li><a href="terms.html">Terms of Use</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>
        </ul>
        <div id="copyright">
            &copy; 2012 Expresspark. All rights reserved.</div>
    </div>
    <!-- end footer -->

